[b]$name[/b]
$alignment
$career  $level (HD $hd HP $hp SD $sd SP $sp) 
[i]A&AC[/i]: $aac
[i]Encumbrance[/i]: $enc
[i]Stats[/i]: $stats
[i]Feats[/i]: $feats
[i]Skills[/i]: $skills
[i]Weapons[/i]: $weapons
[i]Armor[/i]:  $armor
[i]Gear[/i]: $gear
[i]Silver[/i]: $silver
