Name: $name  
Alignment: $alignment
Species: $species
Gender: $gender
Career: $career
Level:  $level
HD: $hd
HP: $hp
SD: $sd
SP: $sp
AAC: $aac
Encumbrance: $enc
Stats: $stats
Feats: $feats
Spells: $spells
Skills: $skills
Weapons: $weapons
Armor:  $armor
Gear: $gear
Silver: $silver
Liege: $liege
Morale: $morale
Loyalty: $loyalty
NPCs: $npcs

Notes: $notes
