$name  
$alignment $species $gender
$career  $level (HD $hd HP $hp SD $sd SP $sp)
AAC: $aac
Encumbrance: $enc
Stats: $stats
Feats: $feats
Skills: $skills
Weapons: $weapons
Armor:  $armor
Gear: $gear
Silver: $silver
Liege: $liege
Morale: $morale
Loyalty: $loyalty

Notes: $notes
